html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f1f1;
}
#root {
  height: 100%;
}

/* Form */
.form {
  max-width: 45rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
.form-container{
  margin-top: 20rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border: .1rem #d1d1d1 solid;
  border-radius: .5rem;
  background: #ffffff;
  z-index: 1;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 19rem;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
main {
  grid-area: main;
}

/* Common */
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span{
  font-weight: bolder;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-size: 3rem;
  color: #05808b;
}

p{
  align-items: center;
  color: #182f36;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ffffff;
}
/* a:hover {
  color: #182f36;
} */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  text-decoration: none;
  display: inline;
}
.btnRead{
  display: inline-block;
  color: #182f36;
  padding: 5px 7px;
  border: 0.1rem #182f36 solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.btnRead:hover{
  color: white;
  background: #05808b;
  border: 0.1rem white solid;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btnArah{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 5px 15px;
  transition: 0.5s;
  cursor: pointer;
}
.btnArah a{
  color: #16c79a;
}
.btnArah a:hover{
  color: #19456b;
}
.btn{
  display: inline-block;
  background: #d7ede0;
  color: #000000;
  padding: 5px 15px;
  border-radius: 5px;
  margin-bottom: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.btn a{
  color: #182f36;
}

.btn:hover{
  transform: translateY(-5px);
}

/* Header */
header {
  grid-area: header;
  background-color: #d7ede0;
  display: flex;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}
header a {
  color: #182f36;
  padding: 1rem;
}
.logo img {
  margin-top: 20px;
  width: 8%;
  float: left;
  display: flex;
  cursor: pointer;
  min-width: 70px;
}
.menu {
  margin-top: 15px;
  display: flex;
  float: right;
}
.menu li{
  font-size: 12pt;
  margin-bottom: 0;
  padding: 1px 0 0 0;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
}
.menu p{
  margin-top: 6px;
  text-align: left;
}
.menu svg{
  padding: 8px;
  transition: .3s;
}
/* .menu p:hover{
  color: #f7ce17;
} */

/* Dropdown */
.dropdown {
  display: inline-block;
}
.dropdown-content p{
  font-size: 12pt;
}
.dropdown-content {
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #16c79a;
  margin: 0;
  margin-right: 5px;
  border-radius: 0.3rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* main */
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  text-align: center;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.col-2-simulasi{
  flex-basis: 20%;
  min-width: 300px;
  margin-top: 50px;
  display: flex;
}
.col-2-simulasi img{
  width: 100%;
  margin-left: 60px;
}
.col-2-tombol{
  flex-basis: 20%;
  min-width: 50px;
  margin-top: 50px;
  display: flex;
}
.col-2-tombol ul{
  padding: 10px;
}
.col-2 img{
  width: 60%;
  align-items: center;
  margin-left: 52px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
  flex-wrap: wrap;
  padding: 15px;
}
.col-3:hover{
  transform: translateY(-5px);
  border-radius: 10px;
  background: #cecece;
}
.col-3 img{
  margin-top: 10px;
  width: 100%;
}
.col-3 a{
  color:#182f36 ;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

.wave img {
  width: 100%;
  bottom: 0;
  transform: rotate(180deg);
}

.waveR img {
  width: 100%;
  bottom: 0;
}

.banner h1{
  margin-top: 150px;
  color: #182f36;
}

.banner h1 span{
  color: #d7ede0;
}

.banner p{
  background-color: #cecece52;
}

.topik{
  margin-top: 35px;
  text-align: center;
}

.topik h2 {
  margin: 0 0 0 0;
}

.topik p {
  margin: 0 0 0 0;
}

.tittle .judul{
  text-align: left;
  margin: 0 auto 5px;
  position: relative;
}

/*main*/
.banner{
  padding: 100px;
  font-weight: bolder;
  position: relative;
  background: url('./backround.jpg')no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}


/* footer */
footer {
  grid-area: footer;
  background-color: #d7ede0;
  color: #182f36;
  text-decoration: none;
}

.footer-col-1{
  font-size: 1.4rem;
  text-decoration: none;
}

.footer-col-1 :hover{
  color: #05808b;
  cursor: pointer;
}

.footer-col-2{
  margin: 0 10px 10px 0;
  flex-basis: 20%;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
}

.footer-col-2 li{
  text-decoration: none;
}

.follow a{
  color : #182f36;
}

.follow a:hover{
  color : #05808b;
}

.footer h3{
  margin-bottom: 20px;
}
.footer p{
  margin: 0;
}
.follow{
  color: #182f36;
  font-weight: bold;
  font-size: large;
  display: flex;
}
.follow svg{
  margin-right: 30px;
}
.copyright{
  text-align: center;
}